name: Powerwall Mode Auto

on:
  schedule:
    # 05:30 UK time (UTC)
    - cron: '55 15 * * *'

jobs:
  set-self-use:
    runs-on: ubuntu-latest

    steps:
      - name: Set Powerwall to Self-Powered
        run: |
          curl -X POST "https://api.teslemetry.com/api/1/energy_sites/${{ secrets.TESLEMETRY_SITE_ID }}/operation" \
            -H "Authorization: Bearer ${{ secrets.TESLEMETRY_API_KEY }}" \
            -H "Content-Type: application/x-www-form-urlencoded" \
            -d "default_real_mode=${{ secrets.DEFAULT_REAL_MODE }}"
